[submodule "meshtastic"]
	path = meshtastic
	url = https://github.com/MeshEnvy/meshtastic-firmware-lotato
[submodule "meshcore"]
	path = meshcore
	url = https://github.com/MeshEnvy/MeshCore-lotato
[submodule "potato-mesh"]
	path = potato-mesh
	url = https://github.com/l5yth/potato-mesh
[submodule "lo-star"]
	path = lo-star
	url = git@github.com:MeshEnvy/lo-star.git
